.btn {
  border: 3px solid turquoise;

}

.block {
  border: 30px solid orange;
  width: 100%;
}

.primary {
  background-color: green
}

.secondary {
  background-color: red;
}

.tertiary {
  background-color: yellow;
}