.btn {
  border: 3px solid turquoise;

}

.block {
  border: 30px solid orange;
  width: 100%;
}

.primary {
  background-color: green
}

.secondary {
  background-color: red;
}

.tertiary {
  background-color: yellow;
}

.small {
  padding: 1;  
  font-size: 1;  
  gap: 1;  
  height: 1;  

}

.medium {
  padding: 1;  
  font-size: 1; 
  gap: 1; 
  height: 1; 

}

.large {
  padding: 1; 
  font-size: 1;
  gap: 1; 
  height: 1;

}

.iconOnly {
  border: none;
  background: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iconOnly:focus{
  outline: none;
  box-shadow: none;
}

.largeIcon {
  width: 150px; 
  height: 150px;
  fill: #2B03A2; 
}