:root {
  --radius-14: 0px;
  --radius-13: 40px;
  --radius-12: 36px;
  --radius-11: 32px;
  --radius-10: 28px;
  --radius-9: 24px;
  --radius-8: 20px;
  --radius-7: 16px;
  --radius-6: 12px;
  --radius-4: 8px;
  --radius-2: 4px;
}
