.header {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #000000; 
    letter-spacing: 0;
  .h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
  }
  .h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
  }
  .h3 {
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
  }
  .h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
  }
  .h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .h6 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  .h7 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }


}