:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsla(0, 0%, 0%, 1);
  background-color: hsla(0, 0%, 100%, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
}

h4 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}

h5 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

h6 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.h7 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.body1{
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.body2{
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.body3 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}